.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #000;
  }
  
  .icon-cart:hover {
    cursor: pointer;
  }

  .container-icon {
    position: relative;
  }

  .icon-cart {
    width: 40px;
    height: 40px;
    stroke: #000;
  }
  
  .icon-cart:hover {
    cursor: pointer;
  }

  .container-icon {
    position: relative;
  }
  
  .count-products {
    position: absolute;
    top: 55%;
    right: 0;
  
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  #contador-productos {
    font-size: 12px;
  }
  
  .container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;
  
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
  }
  
  .titulo-producto-carrito {
    font-size: 20px;
  }
  
  .precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
  }
  
  .icon-close {
    width: 25px;
    height: 25px;
  }
  
  .icon-close:hover {
    stroke: red;
    cursor: pointer;
  }
  
  .cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }
  
  .cart-total h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .total-pagar {
    font-size: 20px;
    font-weight: 900;
  }
  
  .hidden-cart {
    display: none;
  }
  
  number2-wrapper {
    position: relative;
  }
  .number2-wrapper input[type="number"] {  
    padding: 0;
    text-align:center;
    height: auto;
  }
  .number2-wrapper:after,
  .number2-wrapper:before {
    position: absolute;
    right: 5px;
    width: 1.6em;
    height: .9em;
    font-size: 10px;
    pointer-events: none;
    background: #fff;
  }
  .number2-wrapper:after {
    color: blue;
    content: "\25B2";
    margin-top: 1px;
  }
  .number2-wrapper:before {
    color: red;
    content: "\25BC";
    margin-bottom: 5px;
    bottom: -.5em;
  } */
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #ddd;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: #eeeeee;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    padding:0;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 4.5rem;
    padding: .5rem;
    border:0;
    text-align: center;
    outline:none;
}
.number-input{
    border: solid #c2c4c6;
    border-width:2px;
}
  